body {
    background-color: #ddeaea;
}
#object {
    width: 100px;
    height: 100px;
    border: 2px solid #e58282;
    background-color: #e68f8f;
    position: absolute;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
    transition: width 60s, height 60s;
    box-shadow: 2px 1px 3px 1px #777;
}
#innerCircle {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    border: 1.5px solid #e58282;
    border-radius: 50%;
    background-color: #a6ffff;
    transition: top 30s, left 30s, right 30s, bottom 30s;
    box-shadow: inset 2px 1px 3px  1px #777;
}
input {
    width: 150px;
    height: 80px;
    display: block;
    margin: 65px auto;
    background-color: #f7e662;
    border-radius: 5%;
    font-size: 20px;
    font-family: Arial;
    box-shadow: 2px 1px 3px  1px #777;
}
#object:hover {
    background-color: #b57474;
}
#innerCircle:hover {
    background-color: #a6ffff; 
}
#gameData {
    display: none;
}
